.root {
    -fx-font-family: "Cygre";
}

@font-face {
    font-family: "Cygre";
    src: url("/fonts/Cygre-Regular.ttf");
}

.title {
    -fx-font-family: "Black Mango";
    -fx-font-size: 28px;
}

.info-text {
    -fx-font-family: "Cygre";
    -fx-font-size: 22px;
}

.button {
    -fx-font-family: "Cygre";
}

.card-logs {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #cfd8dc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 2);
}

.edit-button  {
    -fx-font-family: "Cygre";
    -fx-font-size: 14px;
    -fx-background-color: #9ba59b;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 5px;
    -fx-padding: 5px 10px;
}



.edit-button:hover {
    -fx-background-color: #7a8c7a;
}

.input-field {
    -fx-font-family: "Cygre";
    -fx-font-size: 14px;
}

.hidden-textfield {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: black;
}

.text-field {
    -fx-font-family: "Cygre";
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #b0bec5;
    -fx-border-width: 1px;
    -fx-padding: 6px;
    -fx-text-fill: #212121;
}

.main-content {
    -fx-background-image: url("/images/plainbackground.png");
}

.card-logs {
    -fx-background-color: #eef3ef;
    -fx-background-radius: 10px;
    -fx-border-color: #cfd8dc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.5, 0, 2);
}
